<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half is-offset-one-quarter">
        <%= render 'event_card' %>
      </div>
    </div>
  </div>
</section>